#directories
/project/vs2017/.vs
/project/vs2017/Debug
/project/vs2017/Release

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
project/vs2017/.vs/EGXAtom/v15/ipch/f70d5e481fba5a10.ipch
